
.generator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
    font-family: 'Manrope', sans-serif;
    

    & &__generator-container{
        width: 458px;
        height: 591px;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 40px 24px 0 24px;
        -webkit-box-shadow: 25px 25px 30px -25px rgba(66, 68, 90, 1);
-moz-box-shadow: 25px 25px 30px -25px rgba(66, 68, 90, 1);
box-shadow: 25px 25px 30px -25px rgba(66, 68, 90, 1);
    }

    & &__header{
        margin-bottom: 24px;


        h1{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 140%;
            color: #22232E;
            margin: 0;
            margin-bottom: 16px;
            letter-spacing: -2%;
        }
    }

    & &__bar-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    & &__bar-container-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-weight: bold;
        line-height: 140%;
        letter-spacing: -2%;
        font-size: 16px;
        color: #22232E;
    }

    & &__bar{
        display: flex;
        justify-content: space-between;
    }

    & &__bar-element{
        width: 100%;
        margin-right: 7px;
        height: 6px;
        background: #E2E2E2;
        border-radius: 90px;

        &:last-child{
            margin-right: 0px;
        }
    }

    .active{
        
    }

    .red{
        background: red;
    }

    .yellow{
        background: yellow;
    }

    .green{
        background: green;
    }

    

    & &__range{
       width: 100%;

       
        
    //    input{
        
    //     -webkit-appearance: none;
    //     appearance: none;
    //     width: 100%; 
    //     height: 4px;
    //     background: #d3d3d3;
    //     outline: none;
    //     opacity: 0.7;
    //     -webkit-transition: .2s;
    //     transition: opacity .2s;

    //     &::-webkit-slider-thumb{
    //         appearance: none;
    //         width: 20px;
    //         height: 20px;
    //         border-radius: 50%;
    //         border: 5px solid #ffff;
    //         background: #0027FF;
    //         cursor: pointer;
    //         box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.04);
    //     }
        
    //    }

    input[type=range] {
        height: 4px;
        background-color: #E2E2E2;
        -webkit-appearance: none;
        cursor: pointer;
        width: 100%;
      }
      
      input[type=range] {
        --range: calc(var(--max) - var(--min));
        --ratio: calc((var(--value) - var(--min)) / var(--range));
        --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
      }
      
      input[type=range]:focus {
        outline: none;
      }
      
 
      input[type=range]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 5px;
        border-radius: 1em;
        background: #0027FF;
        border: 5px solid white;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.04);
        margin-top: calc(3px * 0.5 - 10px * 0.5);
        -webkit-appearance: none;
      }
      
      input[type=range]::-webkit-slider-runnable-track {
        height: 4px;
        border-radius: 0.5em;
        background: #E2E2E2;
        border: none;
        box-shadow: none;
      }

    
   
      
      input[type=range]::-webkit-slider-runnable-track {
        background: linear-gradient(#0027FF,#0027FF) 0/var(--sx) 100% no-repeat, #E2E2E2;
      }
      
      input[type=range]:hover::-webkit-slider-runnable-track {
        background: linear-gradient(#0027FF,#0027FF) 0/var(--sx) 100% no-repeat, #E2E2E2;
      }
      
      input[type=range]:active::-webkit-slider-runnable-track {
        background: linear-gradient(#0027FF,#0027FF) 0/var(--sx) 100% no-repeat, #E2E2E2;
      }
      
      


    }

  

    & &__options-container{
        display: flex;
        flex-direction: column;

        
    }

    input[type=checkbox] {
        position: relative;
        border: 1px solid #CECECE;
        border-radius: 6px;
        background: none;
        cursor: pointer;
        line-height: 0;
        margin: 0 .6em 0 0;
        outline: 0;
        padding: 0 !important;
        vertical-align: text-top;
        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        opacity: .5;
      }
      
      input[type=checkbox]:hover {
        opacity: 1;
      }
      
      input[type=checkbox]:checked {
        background-color: #0027FF;
        opacity: 1;
      }
      
      input[type=checkbox]:before {
        content: '';
        position: absolute;
        top: 9px;
        left: 6px;
        width: 4px;
        height: 6.5px;
        border: solid #FFF;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
      }

  

    & &__options-container-element{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #808080;
        margin-bottom: 14px;
        line-height: 140%;
        letter-spacing: -2%;

        
    }

    & &__bar-strenght{
        margin-top: 24px;
        background: #F7F7F7;
        padding: 24px 18px;
        border-radius: 12px;
    }

    & &__bar-strenght-top{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 16px;
        color: #000000;
    }

    & &__result-container{
        margin-top: 24px;
        border: 1px solid #CECECE;
        border-radius: 12px;
        padding: 20px 12px;
    }

    & &__result{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 16px;
        color: #22232E;
        
    }

    & &__submit-button{

        margin-top: 23px;

        button{
            cursor: pointer;
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            background: #22232E;
            border-radius: 12px;
            border: none;

            &:hover{
                background: #414253;
            }
        }

        
    }

    & &__result-button{
        background: none;
        border: none;
        cursor: pointer;
    }

    @media (min-width: 560px) and (max-width: 850px) {
        & &__generator-container{
            width: 800px;
            height: 482px;
            margin: 0 16px;
        }

        & &__options-container{
            
            form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 520px;
                gap: 14px;
            }

            input{

            }
            
        }

        & &__options-container-element{
            margin-bottom: 0px;
        }

        & &__bar-container{
            margin-bottom: 32px;
        }
    }

    @media (max-width: 560px) {
        & &__generator-container{
            margin: 0 16px;
        }
    }

}